.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}

.about_section {
    display: flex;
    gap: 80px;
}

.about_left img {
    height: 500px;
    width: 400px;
    border-radius: 15px;
}

.about_right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about_me {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about_skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_skill {
    display: flex;
    align-items: center;
    gap: 50px;
    transition: 0.4s;
}

.about_skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;

}

.about_skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 108.18%);
}

.about_skill:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.about_achivements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about_achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.about_achivement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.45%, #B415FF 90.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_achivement p {
    font-size: 22px;
    font-family: 500;
}

.about_achivement:hover {
    transform: scale(1.12);
    transition: 0.3s;
}

@media (max-width:600px) {
    .about {
        gap: 80px;
        margin: 50px 40px;
        align-items: start;
    }

    .about h1 {
        font-size: 50px;
        padding: 0;
    }

    .about_left img {
        width: 130px;
        right: -20px;
    }

    .about_section {
        flex-direction: column;
    }

    .about_left {
        display: none;
    }

    .about_me {
        font-size: 18px;
        line-height: 32px;
    }

    .about_skill {
        gap: 20px;
        align-items: center;
    }

    .about_skill p {
        font-size: 20px;
    }

    .about_skill hr {
        height: 6px;
    }

    .about_achivements {
        justify-content: center;
        gap: 15px;
    }

    .about_achivement {
        gap: 10px;
    }

    .about_achivement h1 {
        font-size: 38px;
        font-weight: 700;
    }

    .about_achivement p {
        text-align: center;
        font-size: 16px;
    }



}